.content_banner {
    height: 100vh;
    background-image: url("../images/berita/edit.png");
    padding: 40vh 30vmax 0 20vmin;
    color: #fff;
    /* paralax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_banner h1 {
    font-family: "Georgia-Bold";
    font-size: 2.5rem;
    /* padding-bottom: 12px; */
}

.content_banner p {
    font-family: "Lato-Regular";
    margin: 1.5rem 40% 1rem 0;
}

.content_banner .content .button {
    padding: 12px 24px;
    font-family: "Lato-Regular";
    background: var(--hijau-tua);
}

.content_banner span a {
    color: white;
}

.content_berita {
    width: 70%;
    float: left;
    padding: 3rem;
    margin-right: 5rem;
    margin-top: 2rem;
    border-right: 1px solid;
    font-family: "Montserrat";
    line-height: 1.5rem;
}

.content_berita img {
    width: 40%;
    margin-left: 25%;
    padding: 20px;
    font-family: "Lato-Regular";
}

.berita_samping .card {
    width: 18vw;
    height: 330px;
    margin: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.berita_samping .card .gambar img {
    width: 100%;
    height: 100%;
}

.berita_samping .card span {
    position: absolute;
    padding: .5rem;
    border: 2px solid var(--hijau-tua);
    background-color: white;
    transform: translate(200px, -25px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

.berita_samping .card h5 {
    font-size: 1rem;
    color: var(--hijau-tua);
    font-family: "Montserrat-Bold";
}

.berita_samping .card span:hover {
    background-color: var(--hijau-tua);
}

.berita_samping .card span:hover h5 {
    color: white;
}

.berita_samping .card .text {
    padding: 1rem;
}

.berita_samping .card .text small {
    color: #C4C4C4;
    font-family: "Montserrat-Light";
}

.berita_samping .card .text h4 {
    font-family: "Montserrat-Bold";
}

.berita_samping .card p {
    font-family: "Montserrat-Regular";
    font-size: 12px;
}

.berita_samping {
    padding-bottom: 25px;
}

.cari-berita a {
    margin-left: 75vw;
}

.cari-berita .link {
    color: blue;
}

.berita_samping .card .read-more {
    justify-content: space-between;
    background-color: #ccc;
    padding: .75rem;
}

.berita_samping .card .read-more h2 {
    font-size: 1rem;
    font-family: "Montserrat-Regular";
}

.berita_samping .card .read-more {
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {

    .content_berita {
        margin-right: 1rem;
        width: 65%;
    }

    .berita_samping .card span {
        transform: translate(200px, -25px);
    }

    .berita_samping .card .read-more {
        padding: .5rem;
    }

    .berita_samping .card {
        width: 30vw;
        margin: 5rem 0rem;
    }
}

@media screen and (max-width: 480px) {
    .content_banner {
        padding: 30vh 10px;
        margin: auto;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    .berita_samping .card {
        width: 30vw;
        height: 210px;
        margin: 5rem 2rem;
    }

    .berita_samping .card .text small {
        font-size: 8px;
    }

    .berita_samping .card h4 {
        font-size: 10px;
    }

    .berita_samping .card .text p {
        font-size: 10px;
    }

    .berita_samping .card .text {
        padding: 2px;
    }

    .content_berita {
        font-size: small;
        line-height: 1rem;
        margin-right: 1rem;
        width: 60%;
    }

    .content_berita img {
        width: 60vw;
        margin-left: 0;
    }

    .card {
        margin-right: 1rem;
    }

    .content_berita {
        padding: 0.3rem;
    }

    .link {
        font-size: 12px;
    }

    .berita_samping .card span {
        transform: translate(100px, -25px);
    }

    .berita_samping .card .read-more {
        padding: .3rem;
    }

    .berita_samping .card .read-more h2 {
        font-size: 12px;
    }

    .berita_samping .card h5 {
        font-size: .5rem;
    }
}