* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --hijau-tua: #01996D;
  --hijau-muda: #A0EA26;
}

.flex {
  display: flex;
}


/* NAVBAR */
nav {
  width: 100%;
  background: rgba(248, 249, 250, .7);
  position: fixed;
  z-index: 9999;
}

nav .container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

.logo {
  height: 60px;
  width: 60px;
}

.logo img {
  height: 100%;
  width: 100%;
}

.fitur ul,
.login ul {
  margin: 0 auto;
  padding: 0;
}

.fitur ul li,
.login ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  transition: .5s;
}

.fitur ul li a:hover {
  background: var(--hijau-tua);
  color: #fff;
}

.fitur ul li a,
.login ul li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-family: "Montserrat-Bold";
  transition: 0.2s;
}

.login ul li a:hover {
  border-bottom: 3px solid var(--hijau-tua);
}

.login .button {
  padding: 12px 24px;
  background: var(--hijau-tua);
  color: #fff;
}

.login .button a {
  color: #fff;
}

/* FOOTER */
.footer1 {
  height: 300px;
  background: #292D3F;
}

.footer1 .content {
  width: 33.33vmax;
  padding: 3rem 4rem;
  color: #fff;
}

.footer1 .content:nth-child(1) img {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
}

.footer1 .content:nth-child(1) i {
  font-family: "Lato-Regular";
}

.footer1 .content:nth-child(2) h2,
.footer1 .content:nth-child(3) h2 {
  font-family: "Montserrat-Bold";
}

.footer1 .content:nth-child(2) ul,
.footer1 .content:nth-child(3) ul {
  font-family: "Lato-Regular";
  padding: 0.7rem 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.footer2 {
  height: 60px;
  background: #393939;
}

.footer2 small {
  margin: auto;
  color: #fff;
  font-size: 1rem;
  font-family: "Lato-Regular";
}

@media screen and (max-width: 1024px) {
  .footer1 .content {
    width: 33.33vmax;
    padding: 2rem 0 1rem 2rem;
    color: #fff;
  }

  .footer1 .content:nth-child(2) ul,
  .footer1 .content:nth-child(3) ul {
    font-size: 1.5rem;
    padding: 1rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .footer1 {
    height: auto;
    flex-direction: column;
  }

  .footer1 .content {
    padding: 0;
    padding: 1rem 1rem;
    width: 100%;
  }

  .footer1 .content:nth-child(1) {
    display: flex;
  }

  .footer1 .content:nth-child(1) .tulisan {
    padding: 2rem 1rem;
  }

  .footer1 .content:nth-child(2) ul,
  .footer1 .content:nth-child(3) ul {
    font-size: 1rem;
    padding: 1rem;
    line-height: 1rem;
  }
}


/* FONT */

@font-face {
  font-family: Montserrat-Bold;
  src: url('../font/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../font/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Light;
  src: url('../font/montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: Georgia-Bold;
  src: url('../font/georgia/georgiab.woff');
}

@font-face {
  font-family: Lato-Regular;
  src: url('../font/Lato/Lato-Regular.ttf');
}