/* TEXT JUMBOTRON */

.text-jumbotron {
  padding: 20vh 20vmin 0 20vmin;
}

.text-jumbotron .container {
  padding: 0 30% 0 0;
}

.text-jumbotron h1 {
  font-family: "Montserrat-Bold";
  font-size: 2rem;
}

.text-jumbotron .small-card {
  width: 300px;
  height: 80px;
  margin: 1rem 0 .75rem 0;
  border-radius: 10px;
  background: var(--hijau-muda);
}

.text-jumbotron .small-card .deep {
  margin: auto 1rem;
}

.text-jumbotron .small-card img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.text-jumbotron .small-card h3 {
  font-family: "Montserrat-Bold";
  margin: 5px 0;
}

.text-jumbotron .small-card small {
  font-family: "Montserrat-Light";
  font-style: italic;
  font-family: .5rem;
}

.text-jumbotron .deskripsi {
  font-family: "Montserrat-Regular";
  font-size: 1rem;
}


/* STEP BY STEP */
.step {
  padding: 20vh 20vmin 0 20vmin;
}

.step .container .by-step {
  display: flex;
}

.step .container .by-step:nth-child(6) {
  margin-bottom: 2rem;
}

.step .container .by-step .gambar {
  padding: 1rem 5rem;
  width: 50%;
}

.step .container .by-step .gambar img {
  transition: all 1s ease;
}

.step .container .by-step .gambar img:hover {
  transform: scale(1.2);
}

.step .container .by-step .text {
  padding: 1rem 0 0 5rem;
  font-family: "Montserrat-Regular";
  border-left: 3px solid var(--hijau-muda);
}

.step .container .by-step .text h2 {
  font-family: "Montserrat-Bold";
  margin-bottom: 1rem;
}

.step .container .by-step .text .span1 {
  transform: translateX(-6.3rem);
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  border-right: 50%;
  background: var(--hijau-tua);
  font-size: 18px;
  border-radius: 50%;
  border: 6px solid whitesmoke;
}

.step .container .by-step .text .span1 p {
  margin: auto;
}

.step .container .by-step .gambar img {
  width: 400px;
}

/* BERITA */
.berita {
  /* height: 85vmax; */
  padding: 120px 150px;
}

.berita .judul-berita {
  width: 920px;
  justify-content: center;
  flex-direction: column;
}

.berita .judul-berita h2 {
  font-family: "Montserrat-Bold";
  font-size: 2rem;
  margin-bottom: .5rem;
}

.berita .judul-berita p {
  font-family: "Montserrat-Regular";
  font-size: 1rem;
}

.berita .card-berita {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.berita .card-berita {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.berita .thumbil {
  top: 0;
  height: 50%;
  background: chartreuse;
}

.card-berita .card {
  width: 30vw;
  margin: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.card-berita .card img {
  width: 100%;
  height: 100%;
}

.card-berita .card .text {
  padding: 1rem;
}

.card-berita .card .text hr {
  margin-bottom: 1rem;
}

.card-berita .card h1 {
  margin-bottom: 0.3rem;
  font-size: 18px;
  font-family: "Montserrat-Bold";
}

.card-berita .card small {
  color: #C4C4C4;
  font-family: "Montserrat-Light";
}

.card-berita .card p {
  font-size: 1rem;
  font-family: "Montserrat-Regular";
}


@media screen and (max-width: 1024px) {

  /* jumbotron */
  .text-jumbotron {
    padding: 20vh 0 0 20vmin;
  }

  .text-jumbotron .container {
    padding: 0 20% 0 0;
  }

  .step {
    padding: 0;
  }

  .step .container .by-step .text .span1 {
    transform: translateX(-3.3rem);
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-right: 50%;
    background: var(--hijau-tua);
    font-size: 18px;
    border-radius: 50%;
    border: 6px solid whitesmoke;
  }

  .step .container .by-step .text {
    padding: 1rem 0 0 2rem;
    margin: 0 0 0 3rem;
    font-family: "Montserrat-Regular";
    border-left: 3px solid var(--hijau-muda);
  }

  /* berita */
  .berita {
    padding: 0;
  }

  .berita .judul-berita {
    width: 100%;
    padding: 20px;
  }

  .berita .judul-berita p {
    font-family: "Montserrat-Regular";
    font-size: 1rem;
  }

  .card-berita .card {
    width: 30vw;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .card-berita .card p {
    font-size: .8rem;
    font-family: "Montserrat-Regular";
  }

}



@media screen and (max-width: 480px) {

  /* jumbotron */
  .text-jumbotron {
    padding: 0;
  }

  .text-jumbotron .container {
    padding: 10vh 20px 0 20px;
  }

  .text-jumbotron .small-card {
    margin: 0;
    transform: scale(.75);
  }

  /* step */
  .step {
    padding: 0;
  }

  .step .container {
    width: 100%;
  }

  .step .container .by-step {
    flex-direction: column;
    width: 100%;
  }

  .step .container .by-step .gambar {
    padding: 10px;
  }

  .step .container .by-step .text {
    padding: 20px;
  }

  .step .container .by-step .text .span1 {
    /* display: none; */
  }

  /* berita */
  .berita {
    padding: 0;
  }

  .berita .judul-berita {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
  }

  .berita .card-berita {
    flex-direction: column;
  }

  .card-berita .card {
    width: 90vw;
    margin: 10px auto;
  }

}